{% extends "base.html" %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="col-md-12 px-15 d-flex justify-content-center">
        <img src="static/images/banner-dj-wide.jpg" class="img-fluid">
    </div>
</div>

<div class="row">
    <p></p>
    <p></p>
    <article class="col-8 lh-lg fs-5">
        <h1>Playlist Upload Project</h1>
        {{ lipsum (n=5, html=True, min=20, max=100) }}
    </article>
    {% if current_user.is_authenticated == false %}
    <aside class="col-4 h-25" style="border-style: solid; background-color:LightGray">
        <h2>Login</h2>
        <form action="{{ url_for('auth.login') }}" method=post>
            <dl>
                {{ form.csrf_token }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
            </dl>
            <p><input type=submit value=Login>
        </form>
    </aside>
    {% endif %}

</div>
{% endblock %}
</article>
